[submodule "android-project/app/jni/SDL"]
	path = android-project/app/jni/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "android-project/app/jni/SDL_net"]
	path = android-project/app/jni/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
